<section id="sectionContainer">
    <div id="containerTitle">
        <h2>Registra una cuenta en DevWebcamp</h2>
    </div>
    <app-input [title]='"Name"' [inputType]='"text"' [namePlaceHolder]='"Tu nombre"'></app-input>
    <app-input [title]='"phone"' [inputType]='"text"' [namePlaceHolder]='"Tu telefono"'></app-input>
    <app-input [title]='"Email"' [inputType]='"email"' [namePlaceHolder]='"Tu email"'></app-input>
    <app-input [title]='"Password"' [inputType]='"Password"' [namePlaceHolder]='"Tu Password"'></app-input>
    <div id="containerBtn">
        <button>Crear Cuenta</button>
    </div>
    <div class="containerLinks">
        <a routerLink="/login">¿Ya tienes cuenta? Iniciar Sesion</a>
        <a >¿Olvidaste tu Password?</a>
    </div>
</section>