<section id="sectionContainer">
    <div id="containerTitle">
        <h2>Inicia tu cuenta en DevWebcamp</h2>
    </div>
    <app-input [title]='"Email"' [inputType]='"email"' [namePlaceHolder]='"Tu email"'></app-input>
    <app-input [title]='"Password"' [inputType]='"Password"' [namePlaceHolder]='"Tu Password"'></app-input>
    <div id="containerBtn">
        <button>Iniciar Sesión</button>
    </div>
    <div class="containerLinks">
        <a routerLink="/signup">¿Aún no tienes cuenta? Obtener una</a>
        <a href="#">¿Olvidaste tu Password</a>
    </div>
</section>